.card{
    padding: 2rem;
    width: 47%;
    margin: 1rem;
    background-color: #FFFFFF;
}
.card h5{
    font-weight: 700;
}
.card p{
    color: #aba6a6;
}

@media(max-width:900px){
    .card{
        width: 100%;
    }
}