.navDiv{
    width: 25%;
  
    height: 100%;

}
.navContent{
    background-color: #D7C7F4;
    padding: .6rem;
}
.navBtn{
   
    width: 60%;
    padding: .5rem;
    border-radius: 8px;
    margin: auto;
    margin-top: 1rem;
}
.logoDiv{
    border-radius: 50%;
}

.logoDiv img{
    border-radius: 50%;
}
.txtD{
    text-decoration: none;
}

@media(max-width:970px){
    .navDiv{
        
        max-width:20%;
        /* background-image: linear-gradient(#dad6e2,#e7e5ec); */
        border:none;
    }
}