.App {
  width: 100%;
  height:100vh;
  overflow-y: none;
 
}
.mainDiv{
  /* border: 1px solid purple; */
  width:75%;
  height: 100%;
  background-image: linear-gradient(#dad6e2,#e7e5ec);
}

@media(max-width:475px){
  .mainDiv{
    width: auto;
    overflow-x: hidden;
  }
}
